// primary theme color of the styleguide.
$primary:         #3E3E3E;

// secondary colors.
$black:           #222222;
$lightGray:       #F5F5F5;
$gray:            #CCCCCC;
$white:           #FFFFFF;

// utility colors.
$blue:            #3498DB;
$green:           #2ECC71;
$orange:          #F1C40F;
$red:             #E74C3C;
